<%= form_for(product, html: { class: "space-y-4" }) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <strong class="font-bold">Oops!</strong>
      <span class="block sm:inline">The following errors prevented the product from being saved:</span>
      <ul class="list-disc list-inside">
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= f.text_field :name, class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm" %>
  </div>

  <div class="field">
    <%= f.label :category, class: "block text-sm font-medium text-gray-700" %>
    <%= f.select :category, options_for_select(Product.categories.map { |category| [category.capitalize, category.downcase] }, product.category), {}, { class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm" } %>
  </div>

  <div class="actions">
    <%= f.submit class: "px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white btn btn-primary" %>
  </div>
<% end %>
